<!DOCTYPE html>
<nav class="navbar">
    <div class="container-fluid d-flex justify-content-end py-2">
        <span class="d-none d-sm-block badge text-bg-primary py-2">Nome do usuário - role do usuário</span>

        <a th:href="@{/usuarios/configuracao}" class="btn btn-secondary mx-5">
            <div class="d-flex justify-content-between align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-gear-fill" viewBox="0 0 16 16">
                <path
                    d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                </svg>
                &nbsp;Meu usuário
            </div>
        </a>

        <button class="btn btn-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
            <path fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
        </button>
    </div>
    <div class="container-fluid bg-body-tertiary justify-content-center py-2">
        <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Acervo
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/acervo/listar}">Listar</a></li>
                    <li><a class="dropdown-item" th:href="@{/acervo/cadastrar}">Cadastrar nova obra</a></li>
                </ul>
            </li>

            <a class="nav-link" th:href="@{/emprestimos/listar}">Empréstimos</a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Usuários
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/usuarios/listar}">Listar</a></li>
                    <li><a class="dropdown-item" th:href="@{/usuarios/cadastrar}">Cadastrar novo usuário</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Alunos
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/alunos/listar}">Listar</a></li>
                    <li><a class="dropdown-item" th:href="@{/alunos/cadastrar}">Cadastrar novo aluno</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>